.Oxanium {
    font-family: 'Oxanium', sans-serif;
}

.Poppins {
    font-family: 'Poppins', sans-serif;
}

.body {
    overflow-x: hidden;
}

.header {
    background-image: url(../images/Section.png);
    background-size: 130% 130% auto;
    background-repeat: no-repeat;
    height: 110vh;
    overflow: hidden;
    z-index: 1;
}

.nav {
    background-image: url(../images/headerBG.png);
    color: white;
    font-weight: 700;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    height: 100px;
    font-family: 'Oxanium', sans-serif;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 5;
}


.subMenuParent {
    position: relative;

    .subMenu {
        color: white;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        z-index: 1;
        background-color: #1c1421;
        transition: all .4s ease;
        box-shadow: 0px 3px 8px 2px rgba(255, 255, 255, 0.81);

        li {
            padding: 20px 80px;
        }

    }

    &:hover {
        .subMenu {
            visibility: visible;
            opacity: 1;
        }
    }
}

.items {
    width: 100%;
    height: 100%;
    transition: .4s;
    position: relative;
    z-index: 7;
    transition: .4s ease all;

    a {
        position: relative;
        z-index: 8;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skewX(-16deg);
        scale: .96;
    }

    &:hover::after {
        background-color: #E4A101;
        color: rgb(8, 8, 8);
        cursor: pointer;
    }

    &:hover>a {
        color: rgb(8, 8, 8);
    }
}

.hambMenuIcon {
    transition: .4s;
    scale: 2;
    transform: rotate(90deg);
    margin-right: 1rem;
    user-select: none;
}

.hambMenuIconChange {
    user-select: none;
    transform: translateY(-4px);

    span {
        &:nth-child(1) {
            transform: translateX(10px) rotate(45deg);
            display: inline-block;
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            display: inline-block;
        }
    }
}

#hambMenu {
    width: 100%;
    height: auto;
    background-color: #1C1121;
    position: absolute;
    top: 100px;
    left: 200%;
    border-radius: 20px;
}

.hambMenuShow {
    left: 0 !important;
}

.circleSlider {
    position: absolute;
    top: 20px;
    z-index: -1;
    width: 100%;
    height: 100%;
    // left: 250px;
    opacity: .2;

    scale: 1.2;

    img {
        animation: rotate 50s infinite linear;
        user-select: none;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.readMoreButton {
    // padding: 20px 34.583px 20px 34.917px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    transform: skewX(-16deg);

    &:hover {
        animation: slide-top .6s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate forwards;
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform:skewX(-16deg) translateY(0);
        transform:skewX(-16deg) translateY(0);
    }

    100% {
        -webkit-transform:skewX(-16deg) translateY(-5px);
        transform:skewX(-16deg) translateY(-5px);
    }
}